[user]
	name = Tobias Kraze
	email = tobias@kraze.eu
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
  excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[push]
	default = current
[github]
  user = kratob
