[submodule "vim/.vim.symlink/bundle/vim-rails"]
	path = vim/.vim.symlink/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/.vim.symlink/bundle/vim-ruby"]
	path = vim/.vim.symlink/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/.vim.symlink/bundle/vim-rvm"]
	path = vim/.vim.symlink/bundle/vim-rvm
	url = git@github.com:tpope/vim-rvm.git
[submodule "vim/.vim.symlink/bundle/vim-textobj-rubyblock"]
	path = vim/.vim.symlink/bundle/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "vim/.vim.symlink/bundle/vim-textobj-user"]
	path = vim/.vim.symlink/bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "vim/.vim.symlink/bundle/greplace.vim"]
	path = vim/.vim.symlink/bundle/greplace.vim
	url = git@github.com:vim-scripts/greplace.vim.git
[submodule "vim/.vim.symlink/bundle/netrw.vim"]
	path = vim/.vim.symlink/bundle/netrw.vim
	url = git@github.com:eiginn/netrw.git
[submodule "vim/.vim.symlink/bundle/vim-abolish"]
	path = vim/.vim.symlink/bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
