[submodule "vim/.vim.symlink/bundle/vim-rails"]
	path = vim/.vim.symlink/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/.vim.symlink/bundle/vim-ruby"]
	path = vim/.vim.symlink/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/.vim.symlink/bundle/vim-textobj-rubyblock"]
	path = vim/.vim.symlink/bundle/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "vim/.vim.symlink/bundle/vim-textobj-user"]
	path = vim/.vim.symlink/bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "vim/.vim.symlink/bundle/greplace.vim"]
	path = vim/.vim.symlink/bundle/greplace.vim
	url = git@github.com:vim-scripts/greplace.vim.git
[submodule "vim/.vim.symlink/bundle/vim-bundler"]
	path = vim/.vim.symlink/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/.vim.symlink/bundle/vim-fugitive"]
	path = vim/.vim.symlink/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim.symlink/bundle/vim-easygrep"]
	path = vim/.vim.symlink/bundle/vim-easygrep
	url = git@github.com:dkprice/vim-easygrep.git
[submodule "matcher"]
	path = matcher/matcher
	url = https://github.com/burke/matcher.git
[submodule "vim/.vim.symlink/bundle/neosnippet.vim"]
	path = vim/.vim.symlink/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "vim/.vim.symlink/bundle/vim-lsp"]
	path = vim/.vim.symlink/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/.vim.symlink/bundle/fzf.vim"]
	path = vim/.vim.symlink/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim.symlink/bundle/tender.vim"]
	path = vim/.vim.symlink/bundle/tender.vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "vim/.vim.symlink/bundle/vim-airline"]
	path = vim/.vim.symlink/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim.symlink/bundle/vim-css3-syntax"]
	path = vim/.vim.symlink/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/.vim.symlink/bundle/nvim-lspconfig"]
	path = vim/.vim.symlink/bundle-nvim/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/.vim.symlink/bundle/vim-obsession"]
	path = vim/.vim.symlink/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/.vim.symlink/bundle/vim-prosession"]
	path = vim/.vim.symlink/bundle/vim-prosession
	url = https://github.com/dhruvasagar/vim-prosession
